.window {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.images {
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
  position: relative;
}

.images img {
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  top: 0;
}
.red {
  color: red;
}

/* 从左往右 */
.images > img.leaveLR{
  transform: translateX(100%);
  z-index: 1;
}

.images > img.stayLR {
  left: 0;
  transform: translateX(0);
  z-index: 1;
}

.images > img.enterLR {
  transform: translateX(-100%);
}

/* 从右往左 */

.images > img.leaveRL{
  transform: translateX(-100%);
  z-index: 1;
}

.images > img.stayRL {
  left: 0;
  transform: translateX(0);
  z-index: 1;
}

.images > img.enterRL {
  transform: translateX(100%);
}

/* 从上往下 */
.images > img.leaveTB {
  transform: translateY(-100%);
  z-index: 1;
}

.images > img.stayTB {
  left: 0;
  transform: translateY(0);
  z-index: 1;
}

.images > img.enterTB {
  transform: translateY(100%);
}

/* 从下往上 */
.images > img.leaveBT {
  transform: translateY(100%);
  z-index: 1;
}

.images > img.stayBT {
  left: 0;
  transform: translateX(0);
  z-index: 1;
}

.images > img.enterBT {
  transform: translateY(-100%);
}

